<!DOCTYPE html>
<html>
<head>
  <title>Nevernote</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <%= render 'layouts/sidebar' %>
    </div>
    <div class="col-sm-10">
      <%= flash_messages(:close, :fade) %>
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
